/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../images/8679.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}
input.form-control{
  background-color: #ffe4c454;
  color:white;
}
input.form-control::placeholder {
  color:white;
  }
input:focus{
  background-color: #2fb6cc8a !important;
  color: #e3e3f3 !important;
  outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #12ffc46b;
color: #cabfbf;
border:0 !important;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{

  color: #f7f1f1;
    background-color: #7312ff45;
}
.goback_btn{

      color: #ece4e4;
    background-color: #12ffe929;
  border: 1px #0066ff66 solid;
}
.goback_btn:hover{
  color:aqua;
  background-color: blueviolet;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.danger {
    background-color: #f3eeee;
    color: red;
}